<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="flash-container">
        {%with messages= get_flashed_messages(with_categories=True)%}
            {% for category,message in messages %}
                <div class="flash-message {{category}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endwith %}
    </div>

    {% block content %}{% endblock  %}

    <script>
        setTimeout(()=>{
            document.querySelectorAll(".flash-message").forEach(msg=>{
                msg.style.opacity="0";
                setTimeout(()=> msg.remove(),500);
            });
        },3000);
    </script>
</body>
</html>